{% extends "base.html" %}
{% load static %}

{% block header_img %}{% endblock  %}

{% block title %}About us{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/about_page.css' %}">
{% endblock %}

{% block content %}
    <main>
        <def class='content'>
            <h2 class='title'>О проекте</h2>
            <def class='text_about'>
              <p>Наш проект был создан в рамках обучения в интернет школе <a href='https://3place.ru/'>"Третье место"</a></p>
              <p>Сайт был создан исключительно в целях набора опыта работы в групповых проектах</p>
              <p>Над заданием работала команда из 3 человек (<a href="https://github.com/1nazar1l">Назар</a>, <a href="https://github.com/kostia6411">Костя</a>, <a href="https://github.com/Teyron6">Артем</a>)</p>
            </def>
          </def>
    </main>
{% endblock %}